@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* 💠 Primary & Secondary Colors */
    --color-primary: #1B4D3E;      /* example */
    --color-primary-light: #008357;      /* example */
}


@layer components {
    .my-container {
        @apply px-[1em] lg:px-[5em] xl:px-[5em] 2xl:px-[10em];
    }
}


    .modal-box {
        width: 600px;
        max-width: 90%;
        max-height: 90vh;
        overflow-y: auto;
    }
    .preview-img {
        width: 650px !important;
        height: 150px !important;
        object-fit: cover;
        display: block;
    }

